/* MyInfo.css */
.MyInfo-container {
  display: flex;
  align-items: center;
  padding: 50px;
  opacity: 0; /* Empieza oculta */
  transform: translateY(50px); /* Posición inicial para animación */
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.MyInfo-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* Cuando entra en vista, aparece */
  justify-content: center;
}

.MyInfo-info {
  margin-left: 20px;
  color: #fff;
  width: 50%;
}

.MyInfo-info h2 {
  font-size: 1.8em;
  color: #fff;
}

.MyInfo-info p {
  color: #ccc;
  margin-top: 10px;
  font-size: 1.1em;
}

.MyInfo-details {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.MyInfo-details ul {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  color: #ffffff; /* Color verde */
  font-size: 1.8vh;
}

.icon-green{
    color: #29be31;
}

.MyInfo-details ul li {
  margin-bottom: 10px;
}

.MyInfo-details ul li span {
  font-weight: bold;
  color: #ffffff;
}

.profile-image{
    height: 50vh;
    width: 40vh;
}
