.skills-container{
  padding: 20px;
  color: rgb(255, 255, 255);
  opacity: 0; /* Empieza oculta */
  transform: translateY(50px); /* Posición inicial para animación */
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.skills-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* Cuando entra en vista, aparece */
  justify-content: center;
}

.skills-title {
  margin-bottom: 5vh;
  margin-left: 12.5%;
  margin-top: 5vh;
}

.skills-subtitle {
  font-size: 2.7vh;
  color: #666; /* Gris para el texto "SKILLS" */
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  display: block; /* Asegura que esté en su propia línea */
  margin-bottom: 5px; /* Espacio entre "SKILLS" y "MY SKILLS" */
}

.skills-subtitle::after {
  content: "";
  display: block;
  width: 17vh;
  height: 2px;
  background-color: #00ff00; /* Línea verde */
  margin-top: 5px; /* Espacio entre el texto y la línea */
}

.skills-title h2 {
  font-size: 3.5vh;
  color: #ffffff; /* Blanco para "MY SKILLS" */
  font-weight: bold;
  margin-top: 0; /* Quita el margen superior */
}

.skills-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre elementos */
    max-width: 75%; /* Ocupa el 75% del ancho de la pantalla */
    margin: 0 auto; /* Centra el contenedor */
}

.skill-container ul {
    list-style-type: none;
    padding: 0;
}

.skill-item {
    margin-bottom: 20px; /* Espaciado entre habilidades */
    color: #ffffff;
}

.skill-name {
    font-weight: bold;
}