/* Home.css */

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.home-content {
  text-align: left;
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 10px 0;
}

.social-icons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.icon {
  color: #fff; /* Color blanco */
  font-size: 1.5em;
  transition: color 0.3s;
}

.icon:hover {
  color: #29be31; /* Color gris al pasar el ratón */
}

.typing-text {
  position: relative;
  color: #fff; /* Color del texto */
}

.typing-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Ajusta esta distancia para colocar la línea justo debajo del texto */
  width: 100%;
  height: 2px; /* Grosor de la línea */
  background-color: #29be31; /* Cambia a tu color verde preferido */
}

.background-scroll{
  background: #000;
}