/* MyInfo.css */
.MyInfo-container {
  display: flex;
  align-items: center;
  padding: 50px;
  opacity: 0; /* Empieza oculta */
  transform: translateY(50px); /* Posición inicial para animación */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.MyInfo-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* Cuando entra en vista, aparece */
}

.MyInfo-image img {
  width: 200px;
  border-radius: 10px;
}

.MyInfo-info {
  margin-left: 20px;
  color: #fff;
}

.MyInfo-info h2 {
  font-size: 1.8em;
  color: #fff;
}

.MyInfo-info p {
  color: #ccc;
  margin-top: 10px;
}

.MyInfo-details {
  display: flex;
  margin-top: 20px;
}

.MyInfo-details ul {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  color: #8dc63f; /* Color verde */
}

.MyInfo-details ul li {
  margin-bottom: 10px;
}

.MyInfo-details ul li span {
  font-weight: bold;
  color: #8dc63f;
}